@inject UserService UserService

<div class="container mt-5">
    <div class="row">
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-body text-center">
                    <img src="/user.jpg" class="rounded-circle img-fluid mb-3" alt="Profile Image" width="150" height="150">
                    <h4 class="font1">@_user.Name</h4>
                    <p class="text-muted font-monospace">@_user.Email</p>
                    <p class="text-muted font-monospace">@_user.username</p>
                </div>
            </div>
        </div>

        <!-- User Details -->
        <div class="col-md-8">
            <div class="card card-user-details">
                <div class="card-header">
                    <h5 class="font2">Profile Information</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>Name</strong></div>
                        <div class="col-sm-9 font-monospace"><p>@_user.Name</p></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>Email</strong></div>
                        <div class="col-sm-9 font-monospace">@_user.Email</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3"><strong>Username</strong></div>
                        <div class="col-sm-9 font-monospace">@_user.username</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public User? _user { get; set; }
}
