@page "/explore/category/{catagory_id:int}/{username?}"
@inject BlogsService BlogsService
@inject NavigationManager NavigationManager
@inject CatagoriesService CatagoriesService
@layout ProfileLayout

<Semester.Project.Pages.HomePage.NavBar isVisible="@isUserLoggedIn" username="@username"></Semester.Project.Pages.HomePage.NavBar>
<div class="container mt-3">
    <h3 class="text-center my-4 font-monospace"><strong>Exploring Category: </strong>@_cat.catagory_name</h3>

    <div class="row">
        @foreach (var item in _blogs)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-info text-white">
                        <h5 class="font">@item.title</h5>
                    </div>
                    <div class="card-body">
                        <p>@(item.content.Length > 100 ? item.content.Substring(0, 100) + "..." : item.content)</p>
                        <p class="text-muted">Published on: @item.publish_date</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-dark" @onclick="() => HandleExplore(item.blog_id)">Read More</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int catagory_id { get; set; }

    [Parameter]
    public string? username{ get; set; }

    private bool isUserLoggedIn => !string.IsNullOrEmpty(username);

    private Catagory _cat = new Catagory();
    private List<Blog> _blogs = new List<Blog>();

    protected override void OnInitialized()
    {
        _blogs = BlogsService.GetBlogByCat(catagory_id);
        _cat = CatagoriesService.GetCatagory(catagory_id);
    }

    private void HandleExplore(int blog_id)
    {
        NavigationManager.NavigateTo($"/explore/blogs/{blog_id}/{username}");
    }
}
