@page "/explore/blogs/{blog_id:int}/{username?}"
@inject BlogsService BlogsService
@inject CommentService CommentService
@inject UserService UserService
@layout ProfileLayout

<div class="container my-5">
    <h3 class="text-center mb-4">Exploring Blog</h3>

    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <h1 class="display-4">@blog.title</h1>
            <hr class="my-4">
            <p class="lead">@blog.content</p>
            <p class="text-muted">@blog.publish_date</p>
        </div>
    </div>

    <div class="comments-section container my-5">
        <h4 class="text-center mb-4">Comments</h4>
        @foreach (var item in CommentService.GetBlogComments(blog_id))
        {
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3" src="/user.jpg" alt="avatar" width="60" height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">@UserService.GetUsernameById(item.user_id)</h6>
                                <p class="text-muted small mb-0">Published on - @item.publish_date</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        @((MarkupString)Markdown.ToHtml(item.content))
                    </div>
                </div>
            </div>
        }

        @if (username != null)
        {
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Leave a Comment</h5>
                    <EditForm Model="_comment" OnValidSubmit="HandleComment">
                        <InputTextArea id="comment" @bind-Value="_comment.content" class="form-control mb-3" placeholder="Write your comment here..." />
                        <button class="btn btn-outline-success">Submit</button>
                    </EditForm>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int blog_id { get; set; }

    [Parameter]
    public string? username { get; set; }


    private bool _show = false;

    private Comment _comment = new Comment();

    private void HandleShow()
    {
        _show = !_show;
    }
    private void HandleComment()
    {
        _comment.publish_date = DateTime.Now.ToString();
        _comment.blog_id = blog_id;
        _comment.user_id = UserService.GetUseridByUsername(username);
        CommentService.AddComment(_comment);
        _show = !_show;
    }

    private Blog blog = new Blog();

    protected override void OnInitialized()
    {
        blog = BlogsService.GetBlogById(blog_id);
    }
}
